In [5]:
!python --version

Python 3.9.12

In [1]:
import sys
print(sys.version_info)
print(sys.version)

sys.version_info(major=3, minor=9, micro=12, releaselevel='final', serial=0)
3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]

In [7]:
(2+1
+ 2
+ 3)

8

In [10]:
a = b'h\x65llo'
print(list(a))
print(a)

[104, 101, 108, 108, 111]
b'hello'

In [11]:
type(a)

bytes

In [12]:
print(b'one'+b'two')

b'onetwo'

In [13]:
print(b'one'+'two')
# TypeError: can't concat str to bytes

TypeError: can't concat str to bytes

In [19]:
print('%s은 %d명이다.' % ('홍길동', 5))
# 홍길동은 5명이다.

홍길동은 5명이다.

In [20]:
print('{}은 {}명이다.'.format('홍길동', 5))
# 홍길동은 5개의 노트북을 가지고 있어

홍길동은 5명이다.

In [23]:
print(f'{"홍길동"}은 {5}명이다.')
# 홍길동은 5명이다.

홍길동은 5명이다.

In [25]:
name = '홍길동'
print(name) if name==true

SyntaxError: invalid syntax (649523103.py, line 2)

In [27]:
working = {
    '노트북' : 0,
    '마우스' : 1,
    '헤드셋' : 2
} # dictionary 형태
print(working.items()) # items()은 키와 값을 한꺼번에 뽑아내줌
# dict_items([('노트북', 0), ('마우스', 1), ('헤드셋', 2)])
a = tuple(working.items()) # 튜플로 묶음
print(a)
# (('노트북', 0), ('마우스', 1), ('헤드셋', 2))

dict_items([('노트북', 0), ('마우스', 1), ('헤드셋', 2)])
(('노트북', 0), ('마우스', 1), ('헤드셋', 2))

In [32]:
print(a[0][0]) # ('노트북', 0)
print(a[1]) # ('마우스', 1)
print(a[2]) # ('헤드셋', 2)

노트북
('마우스', 1)
('헤드셋', 2)

In [34]:
notebook, mouse, headset = a
print(notebook)

('노트북', 0)

In [38]:
for i in range(5):
    print(i+1, end=' ')

1 2 3 4 5

In [40]:
alist = ['안', '녕', '하', '세', '요']
for i in alist:
    print(i, end='')
# 안녕하세요

안녕하세요

In [51]:
flavor_list = ['바닐라', '초콜릿', '민트', '딸기']

for i, flavor in enumerate(flavor_list, 1):
    print(i, flavor)

1 바닐라
2 초콜릿
3 민트
4 딸기

In [48]:
next(enumerate(flavor_list))

(0, '바닐라')

In [49]:
next(enumerate(flavor_list))

(0, '바닐라')

In [52]:
for i in zip('12345', 'ABCDE'):
    print(i)

('1', 'A')
('2', 'B')
('3', 'C')
('4', 'D')
('5', 'E')

In [55]:
import itertools

for i in itertools.zip_longest('123', 'ABCDE'):
    print(i)

('1', 'A')
('2', 'B')
('3', 'C')
(None, 'D')
(None, 'E')

In [59]:
a = 2

[y := a, y**2, y**3]

[2, 4, 8]

In [64]:
flavor_list = ['바닐라', '초콜릿', '민트', '딸기']

n = len(flavor_list)

if n < 5:
    print(f"리스트 개수는 {n}입니다.")
# 리스트 개수는 4입니다.

리스트 개수는 4입니다.

In [65]:
flavor_list = ['바닐라', '초콜릿', '민트', '딸기']

if (n := len(flavor_list)) < 5:
    print(f"리스트 개수는 {n}입니다.")

리스트 개수는 4입니다.